{% extends 'base.html' %}

{% block content %}

<main class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<form action="/signup/" method="post" class="card card-body mt-4">
				<h1 class="text-center">Signup</h1>
				{{ error }}
				{% csrf_token %}
				<div class="m-2">	
					<label for="username">Username</label>
					<input type="text" name="username" id="username" placeholder="Ingresa tu usuario" class="form-control">
				</div>

				<div class="m-2">	
					<label for="password1">Password</label>
					<input type="password" name="password1" id="password1" placeholder="Ingresa tu contraseña" class="form-control">
				</div>

				<div class="m-2">	
					<label for="password">Confirm your password</label>
					<input type="password" name="password" id="password" placeholder="Ingresa tu contraseña de nuevo" class="form-control">
				</div>

				<button class="btn btn-primary">
					Signup
				</button>
			</form>
		</div>
	</div>
</main>
{% endblock %}