{% extends 'base.html' %}

{% block content %}

<main class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4">
	<div class="card card-body mt-3">
	<form action="" method="post">
		{% csrf_token %}
		<h1>{{task.title}}</h1>
		{{error}}
		{{form.as_p}}
		<button class="btn btn-primary">Update</button>
	</form>
	<div class="row">
	<form method="post" class="col-md-4" action="{% url 'complete_task' task.id %}">
		{% csrf_token %}
		<button class="btn btn-secondary">
			Complete
		</button>	
	</form>

	<form method="post" class="col-md-4" action="{% url 'delete_task' task.id %}">
		{% csrf_token %}
		<button class="btn btn-danger">
			Delete
		</button>	
	</form>
	</div>
		</div>
		</div>
		</div>
	</main>

{% endblock %}

